# Python Basics Assignment Notebook
Instructions
Complete all the exercises below. Each section corresponds to the concepts covered in class. Write your code in the designated cells and test your solutions.

# Section 1: Print Statements and Basic Operations
### Exercise 1.1: Print Statement

Write a print statement that displays your name.

In [ ]:
name = "Hasnain Abbas"
print (name)    # Hasnain Abbas

### Exercise 1.2: Arithmetic Operations
Calculate and print the results of the following operations:

- Add 15 and 25
- Subtract 30 from 50
- Multiply 7 by 8
- Divide 100 by 4
- Find the integer division of 100 by 3
- Find the remainder when 100 is divided by 3
- Calculate 2 to the power of 5

In [ ]:
#Add 15 and 25

x = 15
y = 25

print (x + y) # 40

#Subtract 30 from 50

x = 50
y = 30

print (x - y) # 20

#Multiply 7 by 8

x = 7
y = 8

print (x * y) # 56

#Divide 100 by 4

x = 100
y = 4

print (x / y) # 25.0 (float division)

#Find the integer division of 100 by 3

x = 100
y = 3

print (x // y) # 33

#Find the remainder when 100 is divided by 3

x = 100
y = 3

print (x % y) # 1

#Calculate 2 to the power of 5

x = 2
y = 5

print (x**y) # 32

In [ ]:
x = float(input ("enter value of x: "))
y = (3*x**2 + 5*x - 5) / (1-2 * x)
print (y) # x = 2.5 the ans is -6.5625

#  Section 2: Variables and Assignment Operators
### Exercise 2.1: Variable Assignment

Create variables with the following values:

- student_name = your name
- age = your age
- grade = your current grade/class

Print all three variables.

In [ ]:
student_name = "Hasnain Abbas"
age = 34
grade = "First Division"

print (student_name, age, grade) # Hasnain Abbas 34 First Division

### Exercise 2.2: Mathematical Operations with Variables
Create two variables a = 10 and b = 5. Then:

- Calculate their sum and store in variable sum_result
- Calculate their product and store in variable product_result
- Print both results

In [ ]:
a = 10
b = 5

variable_sum_result = (a + b)
variable_product_result = (a*b)

print(variable_sum_result) # 15
print(variable_product_result) # 50

### Exercise 2.3: Increment and Decrement Operators
Start with a variable counter = 0:

- Increment it by 3 using the += operator
- Print the result
- Decrement it by 1 using the -= operator
- Print the final result

In [ ]:
counter = 0
counter += 3
print (counter) # 3

counter -= 1
print (counter) # 2

# Section 3: Data Types
### Exercise 3.1: Identifying Data Types
Create variables of different types and check their types:

- An integer: num1 = 42
- A string: text1 = "Python Programming"
- A float: decimal1 = 3.14159
- A boolean: is_student = True

Use the type() function to check and print the type of each variable.

In [ ]:
num1 = 42
print (type(num1)) # class 'int'

text1 = "Pyhton Programming"
print (type(text1)) # class 'str'

decimal1 = 3.14159
print (type(decimal1)) # class 'float'

is_student  = True
print (type(is_student)) # class 'bool'

# Section 4: Strings and String Handling
### Exercise 4.1: String Creation
Create three string variables:

- greeting = "Hello"
- name = "Python"
- exclamation = "!"

In [ ]:
greeting = "Hello"
name = "Python"
exclamation = "!"

### Exercise 4.2: String Concatenation
Using the variables from Exercise 4.1, concatenate them to create:

- "Hello Python!"
- "Python Hello!"

Print both results.

In [ ]:
print (greeting, name+exclamation) #Hello Python!
print (name, greeting+exclamation) #Python Hello!

### Exercise 4.3: String and Number Concatenation
Create:

- label = "Your score is: "
- score = 95

Concatenate them to print "Your score is: 95"

In [ ]:
print (label + str(score)) #Your Score is: 95

# Section 5: Type Conversion
### Exercise 5.1: String to Integer
Given str_num = "25":

- Check its type
- Convert it to an integer
- Check the type of the converted value
- Print both the original and converted values

In [ ]:
str_num = "25"
int_num = int(str_num)

print (type(int_num)) # <class 'int'>
print (str_num) # 25
print (int_num) # 25

### Exercise 5.2: Adding Numbers with Type Conversion
You have:

- num_a = 10
- num_b = "15"

Add these two numbers by converting num_b to an integer

In [ ]:
num_c=int(num_b)
sum = num_a + num_c
print (sum) #25

other way
sum = num_a + int(num_b)
print (sum) # 25

# Section 6: String Indexing
### Exercise 6.1: Basic String Indexing

Given student_name = "Python":

- Print the character at index 2
- Print the last character using negative indexing
- Print the second-to-last character
- Print the first character using negative indexing
- Print the first and last characters together (e.g., "P,n")
- Print characters at positions 0, 5, and -1 together

In [ ]:
print (Student_name[2]) #h
print (student_name[-1]) #n
print (student_name[1:]) #yhton
print (student_name[-6]) #P
print (student_name[0] + student_name [-1]) #Pn
print (student_name [0] + student_name [5] + student_name [-1]) #Pnn

# Section 7: String Slicing
### Exercise 7.1: Basic Slicing
Given text = "Hello, Python!":

- Extract "Hello"
- Extract "Python"
- Extract the last 5 characters

In [ ]:
print (text[0:5]) # Hello
print (text[7:13]) # Python
other way
print (text [-7:-1]) # Python
print (text [-5:]) #thon!

### Exercise 7.2: Advanced Slicing
Using alphabet = "abcdefghijklmno":

- Extract "cde"
- Extract every second character starting from index 0
- Extract the string in reverse order
- Extract every third character

In [ ]:
print (alphabet[2:5]) # cde
print (alphabet[1::2]) # bdfhjln
print (alphabet[-1::-1]) # onmlkjihgfedcba
print (alphabet[2::3]) # cfilo

### Exercise 7.3: Practical Slicing
Given sentence = "Python programming is fun":

- Extract the word "Python"
- Extract the word "programming"
- Extract the last word "fun"
- Extract every other character from the entire string

In [ ]:
print (sentence[0:6]) # Python
print (sentence[7:18]) # Programming
print (sentence[-3:]) # Fun
print (sentence[1::2]) # yhnPormigi u

# Section 8: String Methods
### Exercise 8.1: Mixed String Methods
Create a program that:

- Takes a string user_input = "  hello WORLD  "
- Removes leading and trailing spaces (use .strip())
- Converts it to title case
- Checks if the result is alphabetic
- Count the number of "o" characters
- Replace "o" with "0"

In [ ]:
user_input = "hello WORLD"

print (user_input.strip()) # hello WORLD
print (user_input.title()) # Hello World
print (user_input.isalpha()) # False
print (user_input.count("o")) # 1
print (user_input.replace("o","O")) # hellO WORLD
print(user_input.isalpha()) # False

# Section 9: Debugging Exercise
### Exercise 9.1: Find and Fix the Errors
The following code has several errors. Identify and fix them:

```
# Original code with errors (DO NOT RUN - FIX FIRST)
name = 'John
age = "25"
print("Hello, " + name)
print("You are " + age + " years old")
print(name[0] + name[-1)
result = int("abc")
```

Write the corrected version below:

In [ ]:
name = "John" # No apostrophe at end
age = "25" # ok (because below we need to concatenate so we need str value)
print ("Hello, " + name) # Ok! Result=Hello, John
print ("You are " + age + " years old") # Ok! Result = You are 25 years old
print (name[0] + name[-1]) #There was no sq bracket closing. Result=Jn
result = int("abc") #abc cant be an integer value